
<script>
  (function () {
    'use strict';
  
    anchors.options.placement = 'left';
    anchors.add('.post-content > h1, .post-content > h2, .post-content > h3, .post-content > h4, .post-content > h5, .post-content > h6');
    
    var fixScroll = function(id)
    {
      $('html,body').animate({
                              scrollTop: $(id).offset().top - 80
                             }, 250);
    };
    
    $(document).ready(function () {
      if(window.location.hash) {
          fixScroll(window.location.hash);
      }
    });
    
    $("a[href^='#']").bind('click',  function() { 
        fixScroll($(this).attr('href')); 
    });
    
  })();
</script>

<!-- <footer class="site-footer">
  
  <div class="wrapper">
   

  </div>
  
</footer> -->